{% if include.measure.supplementalData.exists() %}
  {%include section-header.html header='Supplemental Data Elements' %}
{% endif %}
{% for sde in include.measure.supplementalData %}
<tr>
  {%include row-header.html header='Supplemental Data Element' %}
  <td class="content-container">
    {% if sde.id.exists() %}
      <em>ID</em>: {{sde.id}}
      {% if sde.usage.exists() or sde.description.exists() %}
      <br />
      {% endif %}
    {% endif %}
    {% if sde.usage.exists() %}
      {% for usage in sde.usage %}
        {% if usage.coding.first().display.exists() %}
          <em>Usage Code</em>: {{usage.coding.first().display}}
        {% else %}
          <em>Usage Code</em>: {{usage}}
        {% endif %}
        <br />
      {% endfor %}
    {% endif %}
    {% if sde.description.exists() %}
      <em>Description</em>: {{sde.description}}
    {% else %}
      <em>Description</em>: No description provided
    {% endif %}
    {% if sde.criteria.exists() %}
      {% if sde.criteria.language.startsWith('text/cql') and sde.criteria.expression.exists() and include.measure.library.exists() %}
        <br />
        {% assign logicDefAnchor = '#' + include.measure.library.first().replaceMatches('.*/Library/', '').lower().replace(' ', '-') + '-' + sde.criteria.expression.lower().replace(' ', '-') %}
        <em>Logic Definition</em>: <a href="{{logicDefAnchor}}">{{sde.criteria.expression}}</a> 
      {% endif %}
    {% endif %}
  </td>
</tr>
{% endfor %}