{% for supplementalDataGuidance in include.measure.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-supplementalDataGuidance') %}
  {% if supplementalDataGuidance.extension.where(url = 'guidance').exists() %}
    {%include default.html header='Supplemental Data Guidance' content=supplementalDataGuidance.extension.where(url = 'guidance').value %}
  {% endif %}
{% endfor %}
{% for populationBasis in include.measure.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-populationBasis') %}
  {%include default.html header='Population Basis' content=populationBasis.value %}
{% endfor %}
{% for scoringUnit in include.measure.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-scoringUnit') %}
  {%include default.html header='Scoring Unit' content=scoringUnit.value %}
{% endfor %}