---
---
{% include fragment-pagebegin.html %}
{% assign excludexml = site.data.info.excludexml | downcase | slice: 0 %}
{% assign excludejson = site.data.info.excludejson | downcase | slice: 0 %}
{% assign excludemaps = site.data.info.excludemap | downcase | slice: 0 %}
<div style="counter-reset: section 9" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='history' %}

  <a name="root"> </a>
  {% if site.data.structuredefinitions['{{[id]}}'].kind == 'logical' %}
    {% assign modelType = 'Logical Model' %}
    {% elsif site.data.structuredefinitions['{{[id]}}'].kind == 'resource' %}
      {% assign modelType = 'Resource Profile' %}
  {% else %}
    {% assign modelType = 'Data Type Profile' %}
  {% endif %}
  <h2 id="root">{{modelType}}: {{[title]}} - Change History</h2>
  <p>Changes in the {{[id]}} Profile.</p>

  
  {%include StructureDefinition-{{[id]}}-history.xhtml%}
 
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
