---
---
{% include fragment-pagebegin.html %}

<div style="counter-reset: section 9" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='history' %}

  <a name="root"> </a>
  {% if site.data.structuredefinitions['{{[id]}}'].type == 'Extension' %}
    {% assign modelType = 'Extension' %}
  {% elsif site.data.structuredefinitions['{{[id]}}'].kind == 'logical' %}
    {% assign modelType = 'Logical Model' %}
  {% elsif site.data.structuredefinitions['{{[id]}}'].kind == 'resource' %}
    {% assign modelType = 'Resource Profile' %}
  {% else %}
    {% assign modelType = 'Data Type Profile' %}
  {% endif %}

  <h2 id="root">{{modelType}}: {{[title]}} - Change History</h2>
  <p>Changes in the {{[id]}} {{modelType | downcase}}.</p>

  {%include StructureDefinition-{{[id]}}-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
