---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  <a name="root"> </a>
  <h2 id="root">{{site.data.pages[page.path].title}}</h2>
  <p>
    <a href="{{[type]}}-{{[id]}}.html">(back to description)</a>
  </p>
  <p>
    <a href="{{[type]}}-{{[id]}}.{{[fmt]}}">Raw {{[fmt]}}</a>
  </p>

  <!-- insert intro if present -->
  {% include fragment-intro.html %}


  <p>
    <b>Source view</b>
  </p>

  {% include {{[type]}}-{{[name]}}.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html %}

</div>
{% include fragment-pageend.html %}
