---
---
{% assign format = page.path | split: '.html'| first | split: '.' | last %}
{% include fragment-pagebegin.html %}
<div style="counter-reset: section 9" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active=format %}
  <a name="root"> </a>

{% if site.data.structuredefinitions['{{[id]}}'].kind == 'logical' %}
  {% assign modelType = 'Logical Model' %}
{% elsif site.data.structuredefinitions['{{[id]}}'].kind == 'resource' %}
  {% assign modelType = 'Resource Profile' %}
{% else %}
  {% assign modelType = 'Data Type Profile' %}
{% endif %}
<h2 id="root">{{modelType}}: {{[title]}} - {{format | upcase}} Profile</h2>

<p>{{format | upcase}} representation of the {{[id]}} Profile.</p>

<p><a href="{{[type]}}-{{[id]}}.{{format}}">Raw {{format}}</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html %}

  {%include StructureDefinition-{{[id]}}-{{format}}-html.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
